@page "/Error"
@inject NavigationManager NavigationManager

<PageTitle>Error</PageTitle>


    <RadzenText Style="color: var(--rz-danger-dark);" TextStyle="TextStyle.H1"><b>Oops!</b></RadzenText>
    <RadzenText Style="color: var(--rz-danger);"  TextStyle="TextStyle.H3"><b>Something went wrong.</b></RadzenText>
    <p>
        We encountered an unexpected issue while processing your request. Please try again later.
    </p>

    <p>
        <RadzenButton Text="Oh, home, let me come home" ButtonStyle="ButtonStyle.Success" Click="NavigateToHome"/>
    </p>

@code {
private void NavigateToHome()
{
NavigationManager.NavigateTo("/");
}
}
